<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">AxelAddict</h1>
    
<p class="text-center mt-4">AxelAddict is a Java application designed to match users with cars that fit their personality. It also features search abilities with API integration and 0-60/quarter mile calculators.</p>

<object data="/pdf/129 Final Report.pdf" type="application/pdf" width="100%" height="800px"> 
  <p>It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="/pdf/129 Final Report.pdf">click here to
  download the PDF file.</a></p>  
</object>

<div class="projectCard card mt-5 justify-content-center col-4 col-lg-6 text-white bg-secondary mb-5">
  <div class="card-body text-center">
    <p class="text-center">Axle Addict is an application created using java with the purpose of matching a users personality with a car. The application also features a 0-60 calculator, quarter mile calculator, and a car search engine. I worked with a group of 5 other colleagues to create the application. Together, in under 3 months we were able to create a working application that included all the basic features we outlined at the start of the semester. We used Scrum to stay on track. The project utilizes the Google search API and the Edmund's car API.</p>
    <button type="button" class="btn btn-dark"><a href="https://github.com/DrewGaard/AxelAddict">GitHub Link</a></button>
  </div>
</div>



<% include ../partials/footer %>