<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">GuitarGetter</h1>
    
<p class="text-center mt-4">GuitarGetter was created to allow users to enter information about guitarists gear into a database.</p>

<object data="/pdf/Project 2 Report COMP 163 Drew.pdf" type="application/pdf" width="100%" height="800px"> 
  <p>It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="/pdf/129 Final Report.pdf">click here to
  download the PDF file.</a></p>  
</object>

<div class="projectCard card mt-5 justify-content-center col-4 col-lg-6 text-white bg-secondary">
  <div class="card-body text-center">
    <p class="text-center">GuitarGetter was created as a project for my databases class at Pacific. The database was originally implemented with phpmyadmin and MySQL, but was later migrated to Postgres on Heroku so that the website and database could be accessed online. GuitarGetter allows users to enter information into the database, retrieve information from the database, and view the database.</p>
    <button type="button" class="btn btn-dark"><a href="https://guitargetter.herokuapp.com/">View GuitarGetter</a></button>
  </div>
</div>



<% include ../partials/footer %>