<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">Project Name</h1>
    
<p class="text-center mt-4">Short description</p>

<div class="container">
<div class="row">
 <div class="col-6 col-sm-9 col-lg-9 col-centered">
<div id="carouselProjects" class="carousel slide mt-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1557428894-56bcc97113fe?ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1557459325-b6733cbeae9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1557463497-a52b9e92c618?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Third slide">
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="projectCard card mt-5 justify-content-center col-4 col-lg-6 text-white bg-secondary">
  <div class="card-body text-center">
    <p class="text-center">Explination of the project.</p>
    <button type="button" class="btn btn-success">GitHub Link</button>
  </div>
</div>





<% include ../partials/footer %>