<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">Project StockTracker</h1>
    
<p class="text-center mt-4">Project StockTracker was developed using php, HTML, CSS, a database, and JavaScript. It used an API to allow users to sign up and check stock prices.</p>


<div class="projectCard card mt-5 justify-content-center col-4 col-lg-6 text-white bg-secondary">
  <div class="card-body text-center">
    <p class="text-center">Project Stock Tracker was created for my web design course at Pacific. The application uses HTML, PHP, PHPMyAdmin, CSS, and JavaScript to get stock data from an API and display it on the website or send it to a users email address.</p>
    <button type="button" class="btn btn-dark"><a href="https://github.com/DrewGaard/ProjectStockTracker">GitHub Link</a></button>
  </div>
</div>





<% include ../partials/footer %>