<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">TrackHub</h1>
    
<p class="text-center mt-4">TrackHub is a web app built using nodejs along with an SQL database. It allows users to browse and listen to songs using the Napster API.</p>

<object data="/pdf/Requirements Analysis Document.pdf" type="application/pdf" width="100%" height="800px"> 
  <p>It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="/pdf/Requirements Analysis Document.pdf">click here to
  download the PDF file.</a></p>  
</object>

<div class="projectCard card mt-5 justify-content-center col-4 col-lg-6 text-white bg-secondary mb-5">
  <div class="card-body text-center">
    <p class="text-center">TrackHub is an interactive music player that allows users to create an account and stream music. One of our goals when creating TrackHub was to make it cross platform, so we implemented it as a website available to run in any modern web browser. TrackHub aims to be a hub for music lovers and enthusiasts to listen, share, chat, and enjoy their music experience.</p>
    <button type="button" class="btn btn-dark"><a href="https://github.com/clementg1/TrackHub">GitHub Link</a></button>
  </div>
</div>



<% include ../partials/footer %>