<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">VW Emissions Scandal</h1>
    
<p class="text-center mt-4">An overview of the Volkswagen emissions scandal for my engineering ethics course.</p>

<div class="embed-responsive embed-responsive-16by9 mb-5">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7_m0WG3bx24" allowfullscreen></iframe>
</div>

<div class="container text-center">
  <h1>Below are the slides used in the presentation.</h1>
</div>


<object class="mt-5" data="/pdf/The Volkswagen Emissions Scandal.pdf" type="application/pdf" width="100%" height="800px"> 
  <p>It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="/pdf/Requirements Analysis Document.pdf">click here to
  download the PDF file.</a></p>  
</object>



<% include ../partials/footer %>