.col-centered{
    float: none;
    margin: 0 auto;
 }
 
 
 .carousel-item img{
   min-width: 100%;
   height: 500px;
   max-width: none;
 }
 
 body {
     background: url("/images/projectsBackground.png") repeat;
 }
 
 .projectCard {
     width: 800px;
     margin: auto;
 }
 
 .list-group-item {
   width: fit-content;
   margin: 0 auto;
   background-color: steelblue;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .list-group-item:hover {
    background-color: lightseagreen;
    color: rgb(0, 0, 0);
 }

 .container {
    margin-bottom: 50px;
    padding-bottom: 30px;
    max-width: 800px;
  }

  h4 {
    margin-bottom: 5px;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: monospace;
  }

  i {
    padding-left: 10px;
  }

  a:link {
    color: whitesmoke;
  }

  a:visited {
    color: whitesmoke;
  }