.card-img-top {
    height: 300px;
    border: none;
}



.aboutMe {
    margin-top: 225px;
}

.aboutMe p {
    margin-top: 10px;
    text-indent: 2.0em;
}

.bottomRight {
    position: fixed;
    bottom: 0;
    right: 0;
}