<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">Work Experience</h1>

<div class="container">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title"><i class="fas fa-briefcase"></i>Pacific IT</h2>
        <h4 class="card-title">Digital Media | Enterprise Applications Intern</h4>
        <p>September 2017 – January 2018 and May 2016 – January 2017</p>
            <ul class="card-text list-inline">
                    <li>Built and installed classroom technology systems</li>
                    <li>Installed Crestron AV systems</li>
                    <li>Ran and terminated CAT6 and XLR cable</li>
                    <li>Provided technology support to university faculty and staff</li>
                    <li>Worked directly with customers to solve issues they may be experiencing</li>
                    <li>Used IT ticketing systems</li>
                    <li>Inventoried and organized equipment</li>
                    <li>Experience working with outside vendors and organizing events</li>
                    <li>Worked with live streaming vendor to stream events for UOP President and Provost</li>
                    <li>Handled quotes and requisitions from outside vendors</li>
                    <li>Facilitated a team tabletop exercise to increase emergency preparedness</li>
                    </ul>
        </p>
        <a href="https://pacific.edu/" class="btn btn-primary">University Website</a>
      </div>
    </div>
</div>

<% include ../partials/footer %>