<% include ../partials/header %>


<h1 class="display-2 text-center mt-4">Education</h1>

<div class="container">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title"><i class="fas fa-graduation-cap"></i>University of the Pacific</h2>
        <h4 class="card-title">Bachelor of Science | Computer Science</h4>
        <img src="/images/gradImage.JPG" class="mx-auto uopPic" alt="Drew Overgaard">
        <p>August 2015 - May 2018</p>
        <p class="card-text">I earned my bachelors of science in computer science, specializing in application Development at the University of the Pacific in May of 2018.</p>
        <a href="https://pacific.edu/" class="btn btn-primary">University Website</a>
      </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title"><i <i class="fas fa-book"></i></i>Delta College</h2>
        <h4 class="card-title">General Education</h4>
        <p>August 2012 - May 2015</p>
        <p class="card-text">I attended Delta college where I took over 80 units in general education and computer science courses.</p>
        <a href="https://www.deltacollege.edu/" class="btn btn-primary">College Website</a>
      </div>
    </div>
</div>


<% include ../partials/footer %>